
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}

#root {
    min-height: 100vh;
}

a{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}

a{
    text-decoration: none;
    color: inherit;
}
.app{
        min-height: 100vh;
        color: white;
        background: linear-gradient(#0b0614, #141026 45%, #1e1a36 100%);
}